.nav-item {
  color: grey;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

.header {
  padding: 1rem 0 3em;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item:hover {
  color: blue;
}

.active-nav-item {
  color: red;
}
